@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: 255, 255, 255;
    --foreground: 0, 0, 0;
    --primary: 59, 130, 246;
    --secondary: 99, 102, 241;
    --border: 229, 231, 235;
    --input: 255, 255, 255;
    --ring: 147, 197, 253;
  }
  
  .dark {
    --background: 31, 41, 55;
    --foreground: 255, 255, 255;
    --primary: 96, 165, 250;
    --secondary: 139, 92, 246;
    --border: 55, 65, 81;
    --input: 55, 65, 81;
    --ring: 96, 165, 250;
  }